/*----------------------------------*/
/* GENERAL PAGE                     */
/*----------------------------------*/
@import url("./ALV_GRID.CSS");

/*-- Begin of insert @mmarkvillanueva -- */
:root {
    --row-elements-top-bottom-padding: 8px;
    --row-elements-top-bottom-margin: 5px;
    --row-elements-font-family: "72", "72full", Arial, Helvetica, sans-serif;
    --row-elements-font-size: 0.875rem;
    /* Set to zero if zooming and padding will be applied via RF device Industrial Browser Configurations */
    /* Here's an example if zooming and padding to be applied manually in the CSS for device with 480px x 800px resolution */
    --body-zoom: 290%;
    --body-padding: 14.05px;
}

/*-- End of insert @mmarkvillanueva -- */

.MobileUserArea,
input {
    /* Begin of change @mmarkvillanueva --*/
    /*     font-family: arial;
    font-size: 100%; */
    padding-top: var(--row-elements-top-bottom-padding);
    padding-bottom: var(--row-elements-top-bottom-padding);
    font-family: var(--row-elements-font-family);
    font-size: var(--row-elements-font-size);
    margin-top: var(--row-elements-top-bottom-margin);
    margin-bottom: var(--row-elements-top-bottom-margin);
    /* End of change @mmarkvillanueva --*/
}

.MobileUserArea,
textarea {
    /* Begin of change @mmarkvillanueva --*/
    /*     font-family: arial;
    font-size: 100%; */
    padding-top: var(--row-elements-top-bottom-padding);
    padding-bottom: var(--row-elements-top-bottom-padding);
    font-family: var(--row-elements-font-family);
    font-size: var(--row-elements-font-size);
    /* End of change @mmarkvillanueva --*/
}


/* --- MOBILE BODY -----------------*/
.MobileBody {
    margin: 0px;
    padding: var(--body-padding);
    border-width: 0px;
    background-color: #F5F9FC;
    zoom: var(--body-zoom);
}

/* --- MOBILE SCREEN ---------------*/
.MobileScreen {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*----------------------------------*/
/* Main Areas of Mobile Screen      */
/*----------------------------------*/

/* --- CUA AREA --------------------*/
.MobileCuaArea {
    width: 100%;
    background-color: #D9E5F2;
    padding: 0px;
    margin: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #B3C3CF;

}

/* --- USER AREA -------------------*/
.MobileUserArea {
    table-layout: fixed;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;


}

/* ---------------------------------*/
/* CUA AREA ELEMENTS                */
/*----------------------------------*/

/* --- MESSAGE ---------------------*/
.MobileMessageScreen {
    width: 100%;
    background-color: #F5F9FC;
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-color: #C40026;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
}

.MobileMessageLine {}

/* --- MESSAGE ---------------------*/
.MobileMessageLogo {
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
}

/* --- TITLE -----------------------*/
.MobileWindowTitle {
    font-weight: bold;
    font-size: 1.0em;
    padding-left: 7px;
    overflow: hidden;
    white-space: nowrap;
}

/* --- LOGO im Header --------------*/
.MobileHeaderLogo {
    background-color: #D9E5F2;
    vertical-align: middle;
    height: 16px;
    border: 0px;
    padding-left: 3px;
}

/* --- Include Frame ---------------*/
.MobileIncludeFrame {}

/* --- Basic Row -------------------*/
.MobileRow {
    white-space: nowrap;
    vertical-align: middle;
}

/* ---------------------------------*/
/* DYNPRO ELEMENTE                  */
/*----------------------------------*/

/* --- SUBSCREENS ------------------*/
.MobileSubScreen {
    table-layout: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* --- STEPLOOPS -------------------*/
.MobileStepLoop {
    table-layout: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* --- FRAME -----------------------*/
.MobileFrame {
    width: 100%;
    table-layout: fixed;
    background-color: #D9E5F2;
    padding: 0px;
    margin: 0px;
}

.MobileFrameHeader {
    width: 100%;
    background-color: #A3C1E4;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.MobileFrameHidden {
    width: 100%;
}

/* --- ACTIVE BUTTON ---------------*/
.MobileButton {
    width: 100%;
    font-weight: 400;
    /* -- Begin of insert @mmarkvillanueva --*/
    color: #346187;
    background-color: #f7f7f7;
    border: 0.0625rem solid #ababab;
    border-radius: 0.2rem;
    /* -- End of insert @mmarkvillanueva --*/
}

/* -- Begin of insert @mmarkvillanueva --*/
.MobileButton:active {
    color: #f7f7f7;
    background-color: #346187;
}

.MobileButton:hov
/* -- End of insert @mmarkvillanueva --*/

/* --- DISABLED BUTTON -------------*/
.MobileButtonDisabled {
    width: 100%;
}

/* --- EDIT FIELD ------------------*/
.MobileEdit {
    width: 100%;
    /*-- Begin of insert @mmarkvillanueva --*/
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgb(118, 118, 118);
    border-top-color: rgb(118, 118, 118);
    border-left-color: rgb(118, 118, 118);
    border-right-color: rgb(118, 118, 118);
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border: 0.0625rem solid #ababab;
    border-radius: 0.2rem;
    /*-- End of insert @mmarkvillanueva --*/
}

.MobileEditMultiline {}

.MobileEditMultilineDisabled {}

.MobileEditMultilineHighlighted {
    color: blue;
}

.MobileEditMultilineHighlightedDisabled {
    color: blue;
}

.MobileEditMultilineRequired {
    border-color: blue;
}

.MobileEditMultilineRequiredHighlighted {
    border-color: blue;
    color: blue;
}

.MobileEditDisabled {
    width: 100%;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    color: black;
    background-color: #F5F9FC;
    /*-- Begin of insert @mmarkvillanueva --*/
    border-radius: 0.2rem;
    /*-- End of insert @mmarkvillanueva --*/
}

/* required */
.MobileEditRequired {
    width: 100%;
    border-color: blue;
}

.MobileEditRequiredDisabled {
    width: 100%;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    background-color: #F5F9FC;
}

/* required + highlighted */
.MobileEditRequiredHighlighted {
    width: 100%;
    border-color: blue;
    color: blue;
}

.MobileEditRequiredHighlightedDisabled {
    width: 100%;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    color: blue;
    background-color: #F5F9FC;
}

/* highlighlighted */
.MobileEditHighlighted {
    width: 100%;
    color: blue;
}

.MobileEditHighlightedDisabled {
    width: 100%;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    color: blue;
    background-color: #F5F9FC;
}

/* --- F4 BUTTON -------------------*/
.MobileF4Button {
    width: 1em;
}

.MobileF4ButtonDisabled {
    width: 1em;
}

/* --- SEARCHELP BUTTONS -----------*/
.MobileSearchhelpButton_Search {}

.MobileSearchhelpButton_SearchDisabled {}

.MobileSearchhelpButton_Cancel {}

.MobileSearchhelpButton_Options {}

.MobileSearchhelpButton_Selection {}

.MobileSearchhelpButton_Sort {}

.MobileSearchhelpButton {}

/* --- SEARCHELP EDIT FIELD --------*/
.MobileSearchhelpEdit {}

.MobileSearchHelpBody {}

.MobileSearchHelpScreen {}

.MobileSearchHelpUserArea {}

.MobileSearchHelpSortingRow {
    background-color: #f2e1af;
}

.MobileSearchHelpRow {}

.MobileSearchHelpRow2 {
    background-color: #D9E5F2;
}

.MobileSearchHelpFindResults {}

.MobileSearchHelpMessageLine {
    color: red;
    font-weight: bold;
}

/* --- F4 HELP FIELD ---------------*/
.MobileF4 {}

.MobileF4Disabled {}

/* required */
.MobileF4Required {
    border-color: blue;
}

.MobileF4RequiredDisabled {
    border-color: blue;
}

/* required + highlighted */
.MobileF4RequiredHighlighted {
    border-color: blue;
    color: blue;
}

.MobileF4RequiredHighlightedDisabled {
    border-color: blue;
    color: blue;
}

/* highlighlighted */
.MobileF4Highlighted {
    color: blue;
}

.MobileF4HighlightedDisabled {
    color: blue;
}

/* --- PASSWORD --------------------*/
.MobilePassword {
    width: 100%;
}

.MobilePasswordDisabled {
    width: 100%;
}

/* highlighted */
.MobilePasswordHighlighted {
    width: 100%;
    color: blue;
}

.MobilePasswordHighlightedDisabled {
    width: 100%;
    color: blue;
}

/* --- LABEL FIELD -----------------*/
.MobileLabel {
    width: 100%;
    white-space: nowrap;
    /*-- Begin of insert @mmarkvillanueva --*/
    padding-top: var(--row-elements-top-bottom-padding);
    padding-bottom: var(--row-elements-top-bottom-padding);
    margin-right: 10px;
    color: rgb(102, 102, 102);
    /** End of insert @mmarkvillanueva --*/
}

.MobileLabelHighlighted {
    width: 100%;
    white-space: nowrap;
    color: blue;
}

/* --- RADIOBOX --------------------*/
.MobileRadioButton {
    vertical-align: middle;
}

.MobileRadioLabel {
    white-space: nowrap;
}

/* --- CHECKBOX --------------------*/
.MobileCheck {}

.MobileCheckLabel {
    white-space: nowrap;
}

/* --- LISTBOX ---------------------*/
.MobileListboxRequiredHighlighted {
    width: 100%;
    border-color: blue;
    color: blue;
}

.MobileListboxRequiredHighlightedDisabled {
    width: 100%;
    border-color: blue;
    color: blue;
}

.MobileListboxRequired {
    width: 100%;
    border-color: blue;
}

.MobileListboxRequiredDisabled {
    width: 100%;
    border-color: blue;
}

.MobileListboxHighlighted {
    width: 100%;
    color: blue;
}

.MobileListboxHighlightedDisabled {
    width: 100%;
    color: blue;
}

.MobileListbox {
    width: 100%;
}

.MobileListboxDisabled {
    width: 100%;
}

/* ---------------------------------*/
/* SYSTEM MESSAGE / MAIL            */
/*----------------------------------*/
.MobileSysList {
    width: 90%;
    table-layout: fixed;
    background-color: #D9E5F2;
    padding: 0px;
    margin: 0px;
    border: 2px;
    border-color: #B3C3CF;
    border-style: solid;
}

.MobileSysListTitle {
    width: 100%;
    background-color: #A3C1E4;
    font-weight: bold;
}